<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Respond</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <h1>Thank you</h1>
    <p>Your data:</p>
    <p>Name: <%= fullname %></p>
    <p>Age: <%= age %></p>
  </body>
</html>
